<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>hello_world</name>
    <displayName><![CDATA[Hello World]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Un module simple qui affiche un message Hello World sur la page d&#039;accueil.]]></description>
    <author><![CDATA[rihani ibrahim]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>